<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/55fb0f8fe2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title %></title>
  </head>
  <body>
    <div id="form">
      <h1>Pre-req Check</h1>
        <form action="/" method="POST">
          <label for="word">Enter Course:</label>
          <input type="text" name="course">
          <input type="submit" value="Submit">
        </form>
    </div>
    <% if @result %>
      <div id="output">
      <p>Entered Course: <%= @course %></p>
        <p>The Pre-req is: <%= @result %>.</p>  
      </div>
    <% end%>
  </body>
</html>
