<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/55fb0f8fe2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title %></title>
  </head>
  <body>

    <section class="hero is-danger is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Please Note:
          </h1>
          <p class="subtitle">
            This tool is in the initial test phase and should not be shared widely. Please report issues to Carlos Diaz.
          </p>
        </div>
      </div>
    </section>

    <section class=section>
      <div class="container">

        <div>
          <img class="container image is-centered" id="image" src="images/Drexel_vertical_blue_400px.png" alt="Drexel Logo">
        </div>

        <div class="columns is-mobile is-centered">
          <h1 id="title" class="title is-1"><%= @title %></h1>
        </div>
      <!-- 
        <div id="form">
            <form action="/" method="POST">
              <label for="word">Enter Course:</label>
              <input type="text" name="course">
              <inputtype="submit" value="Submit">
            </form>
        </div>

        <% if @result %>
          <div id="output">
            <p>Entered Course: <%= @course %></p>
            <p>The Pre-req is: <%= @result %>.</p>  
          </div>
        <% end%>
      -->
      </div>
    </section>
  </body>
</html>
