<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= @title %></title>
  </head>
  <body>

    <div class="container">

      <section class="header">
        <p class="warning">This tool is in the initial test phase and should not be shared widely. Please report issues to Carlos Diaz.</p>
      </section>

      <img class="image" src="images/Drexel_vertical_blue.png" alt="Drexel Logo">

      <h1 id="title" class="title is-1"><%= @title %></h1>

      <form action="/" method="POST">
        <label for="word">Enter Course:</label>
        <input type="text" name="course">
        <input type="submit" value="Submit">
      </form>

      <section class="output">
          <% if @result %>
            
            <div class="content is-mobile" id="output">
                <p>Entered Course: <span><%= @course %></span></p>
                <p>Pre-requisites: <span><%= @result %></span></p>  
            </div>

          <% end%>

      </section>

    </div>

  </body>
</html>
