@font-face {
  font-family: futuraBoldCondensed;
  src: url("../stylesheets/fonts/FuturaCondensedBold.otf");
}

.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 20% auto auto auto auto;
  grid-template-areas:
  "warning warning warning"
  ". image ."
  ". title ."
  ". input ."
  ". output .";
  grid-row-gap: 20px;
}

.header {
  grid-area: warning;
  height: 45%;
  width: 100%;
  text-align: center;
  justify-self: center;
}

.image {
  grid-area: image;
  width: 50%;
  margin: auto;
}

.title {
  grid-area: title;
  margin: auto;
  height: 50%;
  font-family: futuraBoldCondensed, Arial, Helvetica, sans-serif;
  color: #0d1e31 !important;
  font-weight: bold;
}

.input {
  grid-area: input;
  margin: auto;
  height: 100%;
}

.output {
  grid-area: output;
  margin: auto;
}

#button {
  border: 0;
  background-color:#FFC600;
  padding: 7px 20px;
  cursor: pointer;
  color: #0d1e31;
  font: 16px/1 futuraBoldCondensed,arial,sans-s;
  text-shadow: white 0 1px 1px;
  margin: 0 auto;
}

b {
  color: #0d1e31;
  font-family: futuraBoldCondensed, Arial, Helvetica, sans-serif;
  font-size: large;
}