@font-face {
  font-family: futuraBoldCondensed;
  src: url("../stylesheets/fonts/FuturaCondensedBold.otf");
}

#title {
  font-family: futuraBoldCondensed, arial, sans-serif;
  text-align: center;
  color: #07294d;
  padding-top: 50px;
}

#input {
  padding-top: 50px;
}

#output {
  padding-top: 50px;
}

p {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}