@font-face {
  font-family: futuraBoldCondensed;
  src: url("../stylesheets/fonts/FuturaCondensedBold.otf");
}

#title {
  font-family: futuraBoldCondensed, arial, sans-serif;
  text-align: center;
  color: #07294d;
  padding-top: 50px;
}